@model IEnumerable<VisiProj.Models.CategoriaModel>

@{
    ViewBag.Title = "Projetos";
    ViewBag.ActiveMenu = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int activeId = (int?)ViewBag.ActiveId == null ? 0 : (int)ViewBag.ActiveId;

    List<VisiProj.Models.ProjetoModel> projects = ViewBag.Projects;
    List<VisiProj.Models.ImagemProjetoModel> images = ViewBag.Images;
    int CatId = ViewBag.CatId == null ? 0 : ViewBag.CatId;
    int ProjId = ViewBag.ProjId == null ? 0 : ViewBag.ProjId;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="box-lateral">
                <ul class="nav nav-pills nav-stacked">
                    <li @(CatId == null || CatId == 0 ? "class=active" : "")><a href="/projetos">TODOS</a></li>
                    @foreach (var item in Model)
                    {
                        <li @(CatId == item.Id ? "class=active" : "")>@Html.ActionLink(item.Nome, "Index", new { catId = item.Id })</li>

                        if (CatId == item.Id)
                        {
                            <ul class="projectList">
                                @foreach (var p in projects)
                                {
                                    <li @(ProjId == p.Id ? "class=active-select" : "")>@Html.RouteLink(p.Nome, "Projetos", new { catId = item.Id, projId = p.Id })</li>
                                }
                            </ul>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            @if (ProjId > 0)
            {
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @{int countSlide = 0;}
                        @foreach (var foto in images)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@(countSlide)" @(countSlide == 0 ? "class=active" : "")></li>
                            countSlide++;
                        }

                        @*<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>*@
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @{countSlide = 0;}
                        @foreach (var foto in images)
                        {
                            <div class="item @(countSlide == 0 ? "active" : "")">
                                <img src="@foto.UrlNormal" alt="@foto.Projeto.Nome">
                            </div>
                            countSlide++;
                        }

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="projetoInfos">
                    @{
                    VisiProj.Models.ProjetoModel proj = projects.Where(t => t.Id == ProjId).FirstOrDefault();
                    }
                    <h3>@proj.Nome</h3>
                    <p>Área: <span>@proj.Area</span></p>
                    <p>Local: <span>@proj.Local</span></p>
                </div>
                <div class="clearfix"></div>
            }
            else
            {
                foreach (var foto in images)
                {
                    <a href="#">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <img src="@foto.UrlMiniatura" class="img-responsive">
                            <div class="caption text-center">
                                <p>@(foto.Projeto.Nome)</p>
                            </div>
                        </div>
                    </a>
                }
            }

        </div>
    </div>
</div>
