@model VisiProj.Models.IndexViewModel

@{
    ViewBag.Title = "Projetos";
    ViewBag.ActiveMenu = "Projetos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int activeId = (int?)ViewBag.ActiveId == null ? 0 : (int)ViewBag.ActiveId;
}

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 menuLateral">
            <ul id="menuCat" class="nav nav-pills nav-stacked box-lateral">
                <li @(Model.CategoriaId == 0 ? "class=active" : "") data-categoria="0"><a href="/projetos">TODOS</a></li>
                @foreach (var item in Model.Categorias)
                {
                    <li @(Model.CategoriaId == item.Id ? "class=active" : "") data-categoria="@(item.Id)">@Html.ActionLink(item.Nome, "Index", new { catId = item.Id })</li>

                    <ul id="cat@(item.Id)" class="projectList" style="display: none;">
                        @foreach (var p in Model.Projetos.Where(t => t.CategoriaId == item.Id))
                        {
                            <li @(Model.ProjetoId == p.Id ? "class=active-select" : "") data-categoria="@(item.Id)" data-projeto="@(p.Id)">@Html.RouteLink(p.Nome, "Projetos", new { catId = item.Id, projId = p.Id }, new { data_showcase = "", data_menu = "" })</li>
                        }
                    </ul>
                }
            </ul>
            <hr />
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 showPhotos">
            
            <div id="expoPhoto">
                @if (Model.ProjetoId > 0)
                {
                    Html.Partial("_SlideShow", Model.Imagens);
                }
            </div>

            <div id="photoContainer" style="display: none;">
                @if (Model.ProjetoId == 0)
                {
                    @Html.Partial("_Thumb", Model.Imagens)
                }
            </div>

        </div>

    </div>
</div>

@section javascripts {
    <script src="~/js/main.js"></script>
}