@model IEnumerable<VisiProj.Models.CategoriaModel>

@{
    ViewBag.Title = "Categorias";
}
<div class="container">
    <div class="row">
        <h2>Categorias - Visualização Geral</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/Categoria/Index">Categoria</a></li>
            <li class="active">Home</li>
        </ol>
        @Html.ActionLink("Criar nova categoria", "Create", null, new { @class = "btn btn-primary" })
        <br /><br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>