@model VisiProj.Models.ImagemProjetoModel

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row"></div>
    <h2>Imagem do Projeto - Exclusão</h2>
    <ol class="breadcrumb">
        Você está em:
        <li><a href="/ImagemProjeto/Index">Imagens dos projetos</a></li>
        <li class="active">Excluir imagem do projeto</li>
    </ol>
    <div>
        <div class="alert bg-danger text-center">
            <p>Tem certeza que deseja apagar esta imagem do projeto?</p>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.UrlNormal)</dt>
            <dd>@Html.DisplayFor(model => model.UrlNormal)</dd>
            <dt>@Html.DisplayNameFor(model => model.TipoImagem)</dt>
            <dd>@Html.DisplayFor(model => model.TipoImagem)</dd>
            <dt>@Html.DisplayNameFor(model => model.UrlMiniatura)</dt>
            <dd>@Html.DisplayFor(model => model.UrlMiniatura)</dd>
        </dl>
        <br /><br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                @Html.ActionLink("Voltar a lista de imagens", "Index", new { id = Model.Projeto.Id }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>

</div>
