@model VisiProj.Models.ImagemProjetoModel

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row"></div>
    <h2>Excluir</h2>

    <h3>Tem certeza que deseja apagar este registro?</h3>
    <ol class="breadcrumb">
        Você está em:
        <li><a href="/ImagemProjeto/Index">Imagens dos projetos</a></li>
        <li class="active">Excluir</li>
    </ol>
    <div>
        <h4>ImagemProjetoModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UrlNormal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrlNormal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UrlMiniatura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrlMiniatura)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-link" /> |
                @Html.ActionLink("Voltar a lista", "Index", new { id = Model.Projeto.Id })
            </div>
        }
    </div>

</div>
