@model VisiProj.Models.ImagemProjetoModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>Detalhes</h2>

        <div>
            <h4>ImagemProjetoModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UrlNormal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrlNormal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UrlPequena)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrlPequena)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Local)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Local)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Classificadores)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Classificadores)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar a lista", "Index", new { id = Model.Projeto.Id })
        </p>
    </div>
</div>