@model VisiProj.Models.ImagemProjetoModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>Detalhes</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/ImagemProjeto/Index">Imagens dos projetos</a></li>
            <li class="active">Detalhes</li>
        </ol>
        <div>
            <h4>ImagemProjetoModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UrlNormal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrlNormal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UrlMiniatura)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrlMiniatura)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar a lista", "Index", new { id = Model.Projeto.Id })
        </p>
    </div>
</div>