@model VisiProj.Models.ImagemProjetoModel

@{
    ViewBag.Title = "Imagens do Projeto | Editar";
}
<div class="container">
    <div class="row">
        <h2>Imagens do Projeto | Editar</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/ImagemProjeto/Index">Imagens dos projetos</a></li>
            <li class="active">Editar</li>
        </ol>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Editar imagens para o projeto <strong class="text-info">@Html.DisplayFor(model => Model.Projeto.Nome)</strong></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Projeto.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.UrlNormal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UrlNormal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UrlNormal, "", new { @class = "text-danger" })
                    </div>
                </div>
                 
                <div class="form-group">
                    @Html.LabelFor(model => model.UrlMiniatura, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UrlMiniatura, new { htmlAttributes = new { @class = "form-control", @placeholder = "Não preencher" } })
                        @Html.ValidationMessageFor(model => model.UrlMiniatura, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoImagem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.TipoImagem, new { @class = "form-control", @required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Alterar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Voltar para a lista", "Index", new { id = Model.Projeto.Id }, new { @class ="btn btn-primary"})
        </div>
    </div>
</div>