@model VisiProj.Models.ProjetoModel

@{
    ViewBag.Title = "Apagar projeto";
}
<div class="container">
    <div class="row">
        <h2>Apagar projeto</h2>

        <h3>Tem certeza que deseja apagar este projeto?</h3>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/Admin/Index/">Projetos</a></li>
            <li class="active">Excluir projeto</li>
        </ol>
        <div>
            <h4>ProjetoModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Local)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Local)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Area)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Area)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Excluir" class="btn btn-link" /> |
                    @Html.ActionLink("Voltar a lista", "Index")
                </div>
            }
        </div>
    </div>
</div>