@model VisiProj.Models.ProjetoModel

@{
    ViewBag.Title = "Detalhes do projeto";
}
<div class="container">
    <div class="row">
        <h2>Detalhes do projeto</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/Admin/Index/">Projetos</a></li>
            <li class="active">Detalhes do projeto</li>
        </ol>
        <div>
            <h4>Detalhes do projeto</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
                <dd>@Html.DisplayFor(model => model.Nome)</dd>
                <dt>@Html.DisplayNameFor(model => model.Local)</dt>
                <dd>@Html.DisplayFor(model => model.Local)</dd>
                <dt>@Html.DisplayNameFor(model => model.Area)</dt>
                <dd>@Html.DisplayFor(model => model.Area)</dd>
                <dt>@Html.DisplayNameFor(model => model.Data)</dt>
                <dd>@Html.DisplayFor(model => model.Data)</dd>
            </dl>
        </div>
        <br />
        <p>
            @Html.ActionLink("Editar projeto", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Voltar a lista de projetos", "Index")
        </p>
    </div>

</div>

