@model IEnumerable<VisiProj.Models.ProjetoModel>

@{
    ViewBag.Title = "Projetos";
}
<div class="container">
    <div class="row">
        <h2>Projetos - Visualização Geral</h2>
        <ol class="breadcrumb">
            Você está em:
            <li><a href="/Admin/Index">Projetos</a></li>
            <li class="active">Home</li>
        </ol>
        @Html.ActionLink("Criar novo projeto", "Create", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Criar nova categoria", "../Categoria/Index", null, new { @class="btn btn-primary" })
        <br /><br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Local)</th>
                    <th>@Html.DisplayNameFor(model => model.Area)</th>
                    <th>@Html.DisplayNameFor(model => model.Data)</th>
                    <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                    <th class="text-center">Imagens</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Local)</td>
                        <td>@Html.DisplayFor(modelItem => item.Area)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data)</td>
                        <th>@Html.DisplayFor(modelItem => item.Categoria.Nome)</th>
                        <td class="text-center">@item.Imagens.Count</td>
                        <td>
                            @Html.ActionLink("Imagens", "Index", "ImagemProjeto", new { id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>