@model IEnumerable<VisiProj.Models.ProjetoModel>

@{
    ViewBag.Title = "Projetos";
}
<div class="container">
    <div class="row">
        <h2>Cadastrar projetos</h2>
        <ol class="breadcrumb">
            Você está em:
            <li>Projetos</li>
            <li class="active">Home</li>
        </ol>
        @Html.ActionLink("Criar novo", "Create", null, new { @class = "btn btn-default" })
        <br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Local)</th>
                    <th>@Html.DisplayNameFor(model => model.Area)</th>
                    <th>@Html.DisplayNameFor(model => model.Data)</th>
                    <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                    <th>Imagens</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Local)</td>
                        <td>@Html.DisplayFor(modelItem => item.Area)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data)</td>
                        <th>@Html.DisplayFor(modelItem => item.Categoria.Nome)</th>
                        <td>@item.Imagens.Count</td>
                        <td>
                            @Html.ActionLink("Imagens", "Index", "ImagemProjeto", new { id = item.Id }, null) |
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>